      <!-- DERNIERES REALISATIONS -->
  
    <div class="lastreal">
   
        <h2>Dernières réalisations</h2>

        <section class="cards-wrapper">
          {% for reals in reals %}
          <div class="card-grid-space">
            <a class="card" href="{{ path('app_work_show', {'id': reals.id}) }}" style="--bg-img: url({{ reals.real_img }})">
              <div>
                <h2>{{ reals.name }}</h2>
                <p>{{ reals.description[:100] ~ '...' }}</p>
                <div class="tags">
                  <div class="tag">{{ reals.tag }}</div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </section>
    </div>